body {
  background-color: green;
  font-family: arial, helvetica, sans-serif;
}

h1 {
      text-align: center;
      font-weight: bold;
      font-size: 35px;
      color: gold;
}

div.nav-tab {
      background-color: lightblue;
      color: white;
      border-style: solid;
      text-align: center;
      text-decoration: none;
}

div.nav-tab:hover {
      background-color: yellow;
}

.navigation[href$=".html"] {
    text-decoration: none;
    font-family: arial, helvetica, sans-serif;
    padding-left: 10%;
    padding-right: 10%;
}

a   {
    text-decoration: none; color: black;
}

a:hover{
    background-color: yellow;
}

li,p,a {
    font-size: 18px;
}

th {
    font-size: 20px;
}

#intro {
    text-align: center;
    color: gold;
}
.imgsrc {
    color: blue;
    font-size: 8px;
}
p::first-letter{
    color:gold;
    font-weight: bold;
    font-size: 30px;
}
